<div class="author">
    <h1>Let's reimagine the Future</h1>
    <p class="author__body">Researching and Sharing Bold Ideas</p>
</div>

<img src="/img/hero-image1.jpg" alt="person looking out through window" class="hero-image" width="300" height="300">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="articles-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span>Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>